.wrapper{
	background: grey;
}
.header {
	width: 600px;
	height: 150px;
	
	border: 1px solid red;
	margin-bottom: 10px;
}
.nav{
	width: 600px;
	height: 50px;
	border: 1px solid green;
	margin-bottom: 10px;

}
.content{
	width: 400px;
	height: 888px;
	border: 1px solid orange;
	display: inline-block;
	box-sizing: border-box;


}
.sidebar{
	width: 200px;
	height: 888px;
	border: 1px solid black;
	display: inline-block;
	box-sizing: border-box;
	margin-left: -2px;
}
.footer{
	width: 600px;
	height: 50px;
	border: 1px solid #001AFF;
	margin-bottom: 10px;
}



