.wrapper {
	width: 600px;
}

.header {
	height: 150px;
	border: 1px solid red;
	margin-bottom: 10px;
}
.nav{
	height: 50px;
	border: 1px solid green;
	margin-bottom: 10px;

}
.content{
	width: 400px;
	height: auto;
	vertical-align: top;	
	border: 1px solid orange;
	display: inline-block;
	box-sizing: border-box;
	


}
.sidebar{
	height: auto;
	width: 30%;
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}
.footer{
	height: 50px;
	margin-top: 10px;
	height: 50px;
	border: 1px solid #001AFF;
	margin-bottom: 10px;

}

p{
	text-align: center;
	text-decoration-style: double;
}